/Lecture 15/JavaApplication7/nbproject/private/
/Lecture 15/JavaApplication7/build/
/Lecture 15/JavaLecture15/nbproject/private/
/Lecture 15/JavaLecture15/build/
/JavaClass18/nbproject/private/
/JavaClass18/build/
/javalecuter2/build/
/javalecuter2/dist/